<div class="card" style="width: 18rem;" (starred)="onStarred($event)">
    <div>
        <i class="bi bi-envelope"></i>
        <i class="bi bi-check green" *ngIf="messageItem.isRead"></i>
        <i class="bi starred" [atStarred]="messageItem.isStarred"></i>
    </div>
    <!-- <i class="bi bi-envelope-open"></i> -->
    <div class="card-body">
        <h5 [ngClass]="{'bold-text': messageItem.isRead === false}" class="card-title">{{ messageItem.title | truncate: [20, '...'] }}</h5>
        <p [ngClass]="{'bold-text': messageItem.isRead === false}" class="card-text">{{ messageItem.message | truncate: [30, '...'] }}</p>
        <button (click)="onDelete()" class="btn btn-danger"><i class="bi bi-trash-fill"></i></button>
    </div>
</div>