.bold-text {
  font-weight: bold;
}

.green {
  color: green;
}

.starred.bi-star-fill {
  color: rgb(255, 30, 0);
  border: black;
}

.is-starred-hovering {
  color:yellow;
}

.low{
  color: green;
}

.medium{
  color:orange;
}

.high{
  color: red;
}